body {
  font-family: 'Alegreya Sans SC';
  font-weight: bold;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  margin: auto;
  color: #007bff;
}

#weather-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 80%;
  max-width: 400px;
}

#weather-form label {
  margin-bottom: 1.0rem;
}

#weather-form input[type="text"] {
  font-family: 'Alegreya Sans SC';
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  width: 100%;
  font-weight: bold;
  font-size: 24px
}

#location {
  padding: 5px;
  margin: 10px;
}

#weather-location {
  font-size: 18px; 
}

#weather-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 10px;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #3fa2ffc2;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 80%;
  max-width: 400px;
  border: solid;
  border-color: #007bff;
  }

  .weather-icon {
    font-size: 40px;
  }

  #weather-info:empty {
    border: none;
    background-color: transparent;
  }

  #saanappi {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 10px
  }

  #saanappi:hover {
    background-color: #014d9e;
  }

